<form class="search-form" id="search-form">
  <input
    class="search-form-input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button class="search-btn" type="submit">Search</button>
</form>

<div class="gallery">
  <!-- Картки зображень -->
</div>

<button type="button" class="load-more">Load more</button>

<div class="random">
  <div class="photo"></div>
  <button class="random-btn">Random Photo</button>
</div>


<div class="for-breeds">
  
  <form class="breeds-form">
   <select class='breeds-select' name="breed" id="breed"></select>
  <button type="submit" class="button-breeds">Search</button>
  </form>
  <div class="breed-photo"></div>

</div>
